*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --vino: #660022;
    --red: #8c162a;
    --celeste: #bad1c9;
    --crema: #ced1c0;
    --cremita: #ebe5ce;
}

@media(min-width:320px) {
body{
    font-family: 'Indie Flower', cursive;
    }

    
    header {
        background-image:url(/assets/img/fondo1.png.jpg);
    }
    .title_table{
        background-color: var(--red);
    }
    .title_table h2{
        color: var(--cremita);
        font-family: 'Indie Flower', cursive;
    }

    div.menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        gap: 20px;
        flex-wrap: wrap;
        font-family: 'Indie Flower', cursive;
    }

    .menu a {
        text-decoration: none;
        font-size: 30px;
        border: 1px solid var(--cremita);
        border-radius: 10%;
        font-family: 'Indie Flower', cursive;
    }
    .details{
        display: flex;
        justify-content: center;
        align-items: center;
    }
        
    .menu_item {
        color: var(--red);
        border-radius: 10%;
        font-family: 'Indie Flower', cursive;
    }

    .menu_item:hover {
        background-color: var(--cremita);
        transform: scale(1.2);
    }
    .d-flex input{
        width: 500px;
        height: 50px;
    }
    
    .title {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        background-color: var(--red);
        font-family: 'Indie Flower', cursive;

    }

    .title h1 {
        font-size: 60px;
        color: var(--crema);
        font-family: 'Indie Flower', cursive;
    }

    .categori {
        display: flex;
        justify-content: space-between;
        margin: 30px;
        align-items: center;
        flex-direction: column;
        font-family: 'Indie Flower', cursive;
    }
    

    .categori_checkbox {
        display: flex;
        font-size: 20px;
        gap: 30px;
        flex-direction: column;
        font-family: 'Indie Flower', cursive;
    }

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        background-color: #fff;
        border: 1px solid #000;
    }

    .contac {
        display: flex;
        flex-direction: column;
        font-size: 40px;
        font-family: 'Indie Flower', cursive;
        
    }

    .section{
        display: flex;
        gap: 50px;
        margin-top: 50px;
        flex-wrap: wrap;
        justify-content: center;
        font-family: 'Indie Flower', cursive;
    }

    .form {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 20px;
        justify-content: center;
        border: 2px solid var(--crema);
        background-color: var(--red);
        font-family: 'Indie Flower', cursive;
        width: 460px; 
        height: auto;
        margin: 80px auto;
    	border-radius: 10px;  
	    padding-top: 30px;
	    padding-bottom: 20px;   
        padding-left: 30px; 
    }
    .submit{
        background-color: var(--cremita);
        color: var(--red);
        border-radius: 10%; 
        height: 45px; 
        padding-right: 5px; 	
        margin-bottom: 20px; 
        margin-top: 10px; 	
        text-transform: uppercase;
        border-style: solid; 
        border-radius: 10px;	
        width: 420px;   
        cursor: pointer;
        padding-left: 5px;
    }
   
    
    .my-button-class {
        background-color: var(--red);
      }
      
      textarea{
        background-color: #fbfbfb; 
          width: 405px; 
          height: 150px; 
          border-radius: 5px;  
          border-style: solid; 
          border-width: 1px; 
          border-color: #ab4493; 
          margin-top: 10px;  
          padding-left: 10px;
        margin-bottom: 20px; 
        padding-top: 15px; 
      }
      
    .contac input {
    
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #ab4493; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
    }

    #text {
        height: 200px;
    }

    table, tr, th, td {
        border: 1px solid;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        font-family: 'Indie Flower', cursive;

    }

    table {
        margin-top: 40px;
        line-height: 40px;
        margin-right: 40px;
        margin-left: 40px;
    }

    th {
        font-size: 25px;
        line-height: 60px;

    }

    td {
        font-size: 20px;
        width: 20%;
        font-weight: 700;
        background-color: var(--crema);
    }

    footer {
        background-color: var(--celeste);
        display: flex;
        text-align: center;
        justify-content: space-around;
        flex-direction: column;
        font-family: 'Indie Flower', cursive;
        align-content:center;
    }

    .social {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 40px;
        margin-bottom: 20px;
        flex-direction: column;
        font-family: 'Indie Flower', cursive;
        list-style: none;
    }

    .social_item i {
        font-size: 30px;
        color: var(--vino);
    }

    .name {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 500;
        color: var(--vino);
    }

    .social_item:hover {
        transform: scale(1.5);
    }

}
@media(min-width:768px) {
    .categori_checkbox {
        display: flex;
        flex-direction: row;
    }

    .card-img-top {
        width: auto;
        height:200px;
        object-fit: cover;
        overflow: hidden;
        } 
    .social {
        flex-direction: row;
        justify-content: center;
    }
    /* esto es para los contenedores */
    .event {
        border: 1px solid black;
        padding: 10px;
        margin-bottom: 20px;
      }
      
      .event img {
        width: 100%;
        height: auto;
      }
      
      .event h2 {
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 5px;
      }
      
      .event p {
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      

}

@media(min-width:1200px) {
    .nav {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    .logo img {
        min-width: 300px;
    }
 
    .card-img-top {
        width: 400px;
        height:300px;
        object-fit: cover;
        } 
    .main{
        display:flex;
        align-items: center;
        justify-content:space-between;
        text-align: center;
        flex-wrap: wrap;
       
    }
    .check {
        display: flex;
        font-size: 15px;
        flex-direction: none;
        font-family: 'Indie Flower', cursive;
        align-items: center;
    }
    .categori_checkbox .check{
        gap:20px
    }

    .categori {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
    }

    footer {
        flex-direction: row;
        display: flex;
        text-align: center;
        justify-content: space-between
}